
body{
 min-height: 100vh;
 min-width: 720px;
 max-width: 720px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(29,79,150);
}

div {
  height: 1560px;
  width: 720px;
  background-image: url("home.jpg");
  background-repeat: no-repeat;
  background-size: contain;

}
